#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.flex{
  margin-top: 10px;
  flex-grow: 1;

}

.items{
  display: flex;
  justify-content: center;
}

.card{
  text-align: center;
  margin-top: 10px;
}

.form-check-input{
  display: flex;
}

.empty {
    text-align: center;
  font-weight: bold ;
  font-size: x-large;
  }

